body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfC6VbsLXy1pB8sjdehWy3LPVwSnqnGOMC1-CkoNqNdxcvTpMD&usqp=CAU');
     background-size: 500vw;
     font-family: Calibre;
   }
   .menu{
     background-color: white;
   }
   
   .menu ul{
     display: flex;
     justify-content: space-around;
   }
   
   .menu li{
     list-style: none;
   }
   a{
     color: teal;
     text-decoration: none; 
   }
   a:hover{
      text-decoration: underline;
   }
   .site-subtitle,
   .site-title{
     text-align: center;
     color: whitesmoke;
   }
   .site-subtitle{
     font-style: italic;
   }
   
   